h1{color:#433E3F;
background-color: #C69C72;
font-weight: 800;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border-width: 15px;
border-style: solid;
border-color:#433E3F;
padding: 18px 18px 18px 18px;
margin: 0 0 0 10px ;
}

p{
    padding: 20px 20px 20px 20px;
    margin: 15px 10px 15px 10px;
    color:#433E3F;
    background-color: #C0B7B1;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul{
    color:#7A7265;
}
h2{
    color:#8E6E53;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{color:#433E3F;
}

.h2look {
    border: 7px solid #7A7265;
    padding: 20px 20px 20px 20px;
    margin: 40px 10px 40px 10px;
}

.intro {
    border: 25px solid #433E3F;
    padding: 20px 20px 20px 20px;
    margin: 40px 10px 40px 10px;
}

.container {
    max-width: 960px;
    margin: 1em auto 1em auto;
}

img {
    width: 100%;
    height: auto;
}
nav ul {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

nav ul li {
  flex:1;
  list-style-type: none;
}

nav ul li a {
  display: block;
  padding: 0.75em;
  margin: 0.25em;  
  background-color: #433E3F;
  color: white;  
  text-align: center;
  text-decoration: none;  
  border-radius: 10px;
}

nav ul li a:hover {
  background-color: #7A7265;
  box-shadow: inset 3px 3px 10px rgb(140, 138, 138);  
}

@media screen and (max-width: 650px) {
  nav ul {
      flex-direction: column;
      padding: 0 20px;
      }
  nav ul li {
    margin:10px 0;
    }
}

